.todoList {
    margin-top: 10px;
    color:  blue;
}

.todoListHeader {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 35px;
    background-color: #DCD0FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

