.App {
  display: flex;
  flex-direction: column;
}

.todoList {
  width: 100%
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}

.heading {
  font-weight: bold;
}
